.headerContainerButton {
    display: flex;
    align-items: center;
}

.reactSwitchCheckbox {
    height: 0;
    width: 0;
    visibility: hidden;
}

.reactSwitchLabel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 54px;
    height: 30px;
    background: #f2f2f2;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}

.reactSwitchLabel .reactSwitchButton {
    content: '';
    position: absolute;
    top: 5px;
    left: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.2s;
    background: rgb(85, 80, 80);
    box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.reactSwitchCheckbox:checked+.reactSwitchLabel .reactSwitchButton {
    left: calc(100% - 6px);
    transform: translateX(-100%);
    background-color: #1b1b1b;
}

.reactSwitchCheckbox:checked+.reactSwitchLabel {
    background: #4f4f4f;
}


.reactSwitchLabel:active .reactSwitchButton {
    width: 15px;
}